<a href="https://colab.research.google.com/github/amadords/Projetos-Publicos/blob/master/Prevendo_Valor_de_Autom%C3%B3vel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prevendo valor de automóvel
---


[![LinkedIn](https://img.shields.io/badge/LinkedIn-DanielSousaAmador-purple.svg)](https://www.linkedin.com/in/daniel-sousa-amador)
[![GitHub](https://img.shields.io/badge/GitHub-amadords-yellow.svg)](https://github.com/amadords)
[![Medium](https://img.shields.io/badge/Medium-DanielSousaAmador-darkblue.svg)](https://daniel-s-amador.medium.com/)




Ao falarmos sobre [pré-processadores](https://bit.ly/2Siq0YU) utilizei essa mesma base de dados que usaremos aqui, contudo lá o intuito era somente mostrar a aplicação do **Label Encoder**, **One Hot Encoder** e **Get Dummies**. Lá não chegamos a predizer valores, então vamos direto ao ponto aqui!

![carro](https://image.freepik.com/fotos-gratis/modelo-de-carro-calculadora-e-moedas-na-mesa-branca_1387-493.jpg)

# 1. Definição do Problema

Nosso objetivo aqui é **predizer o valor** de alguns tipos de carro. 
Serão utilizados apenas **três carros**: 
* **BMW X5**
* **Audi A5**
* **Mercedez Benz C class**

Só temos as seguintes **features**:

* `Car Model`: O modelo do carro
* `Mileage`: A quantidade em *milhas* que ele já andou
* `Age(yrs)`: A idade do carro
* `Sell Price($)`: Valor que ele vale. Essa é nossa classe, ou seja, nosso **alvo**

Esse projeto tem o intuito de ser **simples**, por isso utilizaremos apenas **3 modelos de carro**, além disso, é um problema muito simples, um algoritmo simples resolve, por isso será utilizado a **Regressão Linear**.

# 2. Carregando e visualizando os dados

**Importações**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

**Carregamento e leitura dos dados**

In [ ]:
car='/home/amador/dados/base_car.csv'
df=pd.read_csv(car)

**Colunas atuais**

In [ ]:
df.columns

Index(['Car Model', 'Mileage', 'Sell Price($)', 'Age(yrs)'], dtype='object')

**Alterando o nome das colunas**

In [ ]:
df.columns=['modelo','mileage','price','age_yrs']

# 3. Aplicação do Get Dummies

In [ ]:
dummies=pd.get_dummies(df.modelo,prefix='car') #prefixo é opcional
dummies

    car_Audi A5  car_BMW X5  car_Mercedez Benz C class
0             0           1                          0
1             0           1                          0
2             0           1                          0
3             0           1                          0
4             0           1                          0
5             1           0                          0
6             1           0                          0
7             1           0                          0
8             1           0                          0
9             0           0                          1
10            0           0                          1
11            0           0                          1
12            0           0                          1

**Atribuindo os valores transformados ao DF**

In [ ]:
merged=pd.concat([df,dummies],axis=1) # pode ser axis=columns
merged

,modelo,mileage,price,age_yrs,car_Audi A5,car_BMW X5,car_Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

Como foi falado no notebook sobre [pré-processadores](https://bit.ly/2Siq0YU), ao fazer o get dummies, se **exclui uma das categorias** para evitar o efeito da **multicolinearidade**. 

Faremos isso aqui, mas depois usaremos a base completa, pois foi constatado que não houve diferença no resultado final.

In [ ]:
get=merged.drop(['modelo','car_Audi A5'],axis='columns')
get

    mileage  price  age_yrs  car_BMW X5  car_Mercedez Benz C class
0     69000  18000        6           1                          0
1     35000  34000        3           1                          0
2     57000  26100        5           1                          0
3     22500  40000        2           1                          0
4     46000  31500        4           1                          0
5     59000  29400        5           0                          0
6     52000  32000        5           0                          0
7     72000  19300        6           0                          0
8     91000  12000        8           0                          0
9     67000  22000        6           0                          1
10    83000  20000        7           0                          1
11    79000  21000        7           0                          1
12    59000  33000        5           0                          1

# 4. Aplicando a Regressão Linear com apenas 2 modelos de carro

**Criando objeto para regressão linear**

In [ ]:
# importando o algoritmo
from sklearn.linear_model import LinearRegression
# criando o objeto para regressão linear
model=LinearRegression()

**Separando features e classe**

In [ ]:
# features
X=get.drop('price',axis=1)
# classe
y=get.price
# visualizando as features
X

    mileage  age_yrs  car_BMW X5  car_Mercedez Benz C class
0     69000        6           1                          0
1     35000        3           1                          0
2     57000        5           1                          0
3     22500        2           1                          0
4     46000        4           1                          0
5     59000        5           0                          0
6     52000        5           0                          0
7     72000        6           0                          0
8     91000        8           0                          0
9     67000        6           0                          1
10    83000        7           0                          1
11    79000        7           0                          1
12    59000        5           0                          1

In [ ]:
# visualizando a classe
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: price, dtype: int64

**Treinando o modelo**

In [ ]:
model.fit(X,y)

LinearRegression()

**Predizendo resultados**

A ordem é `mileage`, `age_yrs`,	`car_BMW X5` e `car_Mercedez Benz C class`

In [ ]:
model.predict([[22000,5,0,1],[200,5,0,1],[22000,5,1,0],[200,5,1,0]]).round(2)

array([44171.67, 52240.33, 37433.46, 45502.13])

O **array** de dados acima são os valores dos carros já preditos, os dois primerios são `BMW X5` e os dois últimos são `Mercedez Benz C class`.

A **precisão** do nosso modelo é:

In [ ]:
model.score(X,y)

0.9417050937281082

# 5. Aplicando a Regressão Linear com os 3 modelos de carro

**Utilizando o `merged`**
Esse DataFrame é o que tem todos os modelos de carro, como falado antes, uma das categorias foi **dropada** para evitar a multicolinearidade, mas para esse exemplo com poucos dados, não há problema.

**Separando colunas**

In [ ]:
# features
X2=merged.drop(['price','modelo'],axis=1)
# classe
y2=merged.price
# visualização das features
X2

    mileage  age_yrs  car_Audi A5  car_BMW X5  car_Mercedez Benz C class
0     69000        6            0           1                          0
1     35000        3            0           1                          0
2     57000        5            0           1                          0
3     22500        2            0           1                          0
4     46000        4            0           1                          0
5     59000        5            1           0                          0
6     52000        5            1           0                          0
7     72000        6            1           0                          0
8     91000        8            1           0                          0
9     67000        6            0           0                          1
10    83000        7            0           0                          1
11    79000        7            0           0                          1
12    59000        5            0           0                          1

In [ ]:
# visualização da classe
y2

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: price, dtype: int64

**Criando objeto para regressão linear**

In [ ]:
# importando o LinearRegression
from sklearn.linear_model import LinearRegression
# criando objeto para regressão linear
model=LinearRegression()

**Treinando o modelo**

In [ ]:
model.fit(X2,y2)

LinearRegression()

**Predizendo resultados**

Agora nossa ordem é `mileage`, `age_yrs`, `(Audi A5)`, `car_BMW X5` e `car_Mercedez Benz C class`

Abaixo temos 2 exemplares de cada carro.

In [ ]:
model.predict([[22000,5,1,0,0],[200,5,1,0,0],[22000,5,0,1,0],[200,5,0,1,0],[22000,5,0,0,1],[200,5,0,0,1]]).round(2)

array([41718.13, 49786.79, 37433.46, 45502.13, 44171.67, 52240.33])

A **precisão** do nosso modelo é a mesma:

In [ ]:
model.score(X2,y2)

0.9417050937281082

**Não complique!**

Faça um voto a você e aos outros de humildade e não tente colocar **Deep Learning** para atacar um caso onde uma **Regressão Linear** já resolve. Sempre haverá problemas mais complexos para trabalhar com modelos mais complexos.

# Obrigado!

Obrigado por ter disponibilizado um pouco do seu tempo e atenção aqui. Espero que, de alguma forma, tenha sido útil para seu crescimento. Se houver qualquer dúvida ou sugestão, não hesite em entrar em contato no [LinkedIn](https://www.linkedin.com/in/daniel-sousa-amador) e verificar meus outros projetos no [GitHub](https://github.com/amadords).

[![LinkedIn](https://img.shields.io/badge/LinkedIn-DanielSousaAmador-purple.svg)](https://www.linkedin.com/in/daniel-sousa-amador)
[![GitHub](https://img.shields.io/badge/GitHub-amadords-yellow.svg)](https://github.com/amadords)
[![Medium](https://img.shields.io/badge/Medium-DanielSousaAmador-darkblue.svg)](https://daniel-s-amador.medium.com/)



<center><img width="90%" src="https://raw.githubusercontent.com/danielamador12/Portfolio/master/github.png"></center>